VITE_CLOUDINARY_CLOUD_NAME=dc4yyyu4l
VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_CONTACT_ID=your_contact_template_id
VITE_EMAILJS_TEMPLATE_CAREERS_ID=your_careers_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
